---
import favicon from '@/assets/favicon.svg';
import { siteConfig } from '@/config';
import '@/styles/global.css';

interface Props {
  title?: string;
  description?: string;
  bodyClasses?: string[] | string;
}

const { title, description, bodyClasses } = Astro.props;

const pageTitle = title ? `${title} | ${siteConfig.title}` : siteConfig.title;
const ogpImage = new URL('ogp.png', Astro.site);
---

<!doctype html>
<html lang="ja">
  <head>
    <title>{pageTitle}</title>
    <link rel="icon" href={favicon.src} />

    <meta charset="UTF-8" />
    <meta name="description" content={description || pageTitle} />
    <meta name="author" content={siteConfig.name} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="canonical" href={Astro.url} />
    <meta name="theme-color" content={siteConfig.color} />

    <meta name="robots" content="noindex" />

    <meta property="og:site_name" content={siteConfig.title} />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={pageTitle} />
    <meta property="og:description" content={description || pageTitle} />
    <meta property="og:type" content="website" />
    <meta property="og:image" content={ogpImage} />

    <meta name="twitter:card" content="summary" />
    <meta property="twitter:url" content={Astro.url} />
    <meta name="twitter:title" content={pageTitle} />
    <meta name="twitter:description" content={description || pageTitle} />
    <meta property="twitter:image" content={ogpImage} />

    <slot name="head" />
  </head>
  <body class:list={bodyClasses}>
    <slot />
  </body>
</html>
